#
# WOS defconfig for busybox
# Minimal applet set targeting WOS with clang cross-compilation
# Used with: KCONFIG_ALLCONFIG=this_file make allnoconfig
# Everything not listed here defaults to disabled.
#

#
# Build Options
#
CONFIG_STATIC=y

#
# General Configuration
#
CONFIG_USE_PORTABLE_CODE=y
CONFIG_FEATURE_BUFFERS_USE_MALLOC=y
CONFIG_SHOW_USAGE=y
CONFIG_FEATURE_VERBOSE_USAGE=y
CONFIG_FEATURE_INSTALLER=y
CONFIG_LONG_OPTS=y
CONFIG_FEATURE_CLEAN_UP=y
CONFIG_FEATURE_PREFER_APPLETS=y
CONFIG_BUSYBOX_EXEC_PATH="/bin/busybox"

#
# Coreutils
#
CONFIG_CAT=y
CONFIG_CP=y
CONFIG_FEATURE_COPYBUF_KB=4096
CONFIG_FEATURE_USE_SENDFILE=y
CONFIG_DATE=y
CONFIG_DD=y
CONFIG_FEATURE_DD_STATUS=y
CONFIG_FEATURE_DD_THIRD_STATUS_LINE=y
CONFIG_FEATURE_DD_SIGNAL_HANDLING=y
CONFIG_DF=y
CONFIG_ECHO=y
CONFIG_ENV=y
CONFIG_FALSE=y
CONFIG_HEAD=y
CONFIG_LN=y
CONFIG_LS=y
CONFIG_FEATURE_LS_FILETYPES=y
CONFIG_FEATURE_LS_FOLLOWLINKS=y
CONFIG_FEATURE_LS_RECURSIVE=y
CONFIG_FEATURE_LS_SORTFILES=y
CONFIG_FEATURE_LS_TIMESTAMPS=y
CONFIG_FEATURE_LS_USERNAME=y
CONFIG_FEATURE_LS_COLOR=y
CONFIG_MKDIR=y
CONFIG_MV=y
CONFIG_PWD=y
CONFIG_RM=y
CONFIG_RMDIR=y
CONFIG_SEQ=y
CONFIG_SLEEP=y
CONFIG_SORT=y
CONFIG_STAT=y
CONFIG_FEATURE_STAT_FORMAT=y
CONFIG_TAIL=y
CONFIG_TEE=y
CONFIG_TEST=y
CONFIG_FEATURE_TEST_64=y
CONFIG_TOUCH=y
CONFIG_TR=y
CONFIG_TRUE=y
CONFIG_UNAME=y
CONFIG_WC=y
CONFIG_YES=y
CONFIG_BASENAME=y
CONFIG_DIRNAME=y
CONFIG_CHMOD=y
CONFIG_CHOWN=y
CONFIG_ID=y
CONFIG_WHOAMI=y
CONFIG_CUT=y
CONFIG_UNIQ=y
CONFIG_PRINTF=y
CONFIG_READLINK=y
CONFIG_FEATURE_READLINK_FOLLOW=y
CONFIG_REALPATH=y
CONFIG_MD5SUM=y
CONFIG_SHA256SUM=y
CONFIG_FEATURE_MD5_SHA1_SUM_CHECK=y
CONFIG_DU=y

#
# Editors
#
CONFIG_VI=y
CONFIG_FEATURE_VI_MAX_LEN=4096
CONFIG_FEATURE_VI_COLON=y
CONFIG_FEATURE_VI_YANKMARK=y
CONFIG_FEATURE_VI_SEARCH=y
CONFIG_FEATURE_VI_USE_SIGNALS=y
CONFIG_FEATURE_ALLOW_EXEC=y

#
# Finding Utilities
#
CONFIG_FIND=y
CONFIG_FEATURE_FIND_PRINT0=y
CONFIG_FEATURE_FIND_TYPE=y
CONFIG_FEATURE_FIND_PERM=y
CONFIG_FEATURE_FIND_EXEC=y
CONFIG_GREP=y
CONFIG_FEATURE_GREP_CONTEXT=y
CONFIG_XARGS=y

#
# Process Utilities
#
CONFIG_PS=y
CONFIG_FEATURE_PS_WIDE=y
CONFIG_FEATURE_PS_LONG=y
CONFIG_FEATURE_PS_TIME=y
CONFIG_FEATURE_PS_ADDITIONAL_COLUMNS=y
CONFIG_KILL=y
CONFIG_KILLALL=y

#
# Networking (minimal)
#
CONFIG_IFCONFIG=y
CONFIG_FEATURE_IFCONFIG_STATUS=y
CONFIG_FEATURE_IFCONFIG_HW=y
CONFIG_FEATURE_IFCONFIG_BROADCAST_PLUS=y

#
# Shell
#
CONFIG_ASH=y
CONFIG_ASH_OPTIMIZE_FOR_SIZE=y
CONFIG_ASH_INTERNAL_GLOB=y
CONFIG_ASH_JOB_CONTROL=y
CONFIG_ASH_ALIAS=y
CONFIG_ASH_ECHO=y
CONFIG_ASH_PRINTF=y
CONFIG_ASH_TEST=y
CONFIG_ASH_CMDCMD=y
CONFIG_SH_IS_ASH=y
CONFIG_ASH_BASH_COMPAT=y
CONFIG_ASH_RANDOM_SUPPORT=y
CONFIG_ASH_EXPAND_PRMT=y
CONFIG_ASH_GETOPTS=y
CONFIG_ASH_HELP=y

#
# Line Editing / History / Tab Completion
#
CONFIG_FEATURE_EDITING=y
CONFIG_FEATURE_EDITING_MAX_LEN=1024
CONFIG_FEATURE_EDITING_VI=y
CONFIG_FEATURE_EDITING_HISTORY=200
CONFIG_FEATURE_EDITING_SAVEHISTORY=y
CONFIG_FEATURE_EDITING_SAVE_ON_EXIT=y
CONFIG_FEATURE_REVERSE_SEARCH=y
CONFIG_FEATURE_TAB_COMPLETION=y
CONFIG_FEATURE_EDITING_FANCY_PROMPT=y
CONFIG_FEATURE_EDITING_WINCH=y
CONFIG_FEATURE_EDITING_ASK_TERMINAL=y

#
# System/Misc
#
CONFIG_MOUNT=y
CONFIG_FEATURE_MOUNT_FLAGS=y
CONFIG_FEATURE_MOUNT_FSTAB=y
CONFIG_UMOUNT=y
CONFIG_LSOF=y
CONFIG_LESS=y
CONFIG_FEATURE_LESS_MAXLINES=9999999
CONFIG_HEXDUMP=y
CONFIG_STRINGS=y
CONFIG_TIME=y
CONFIG_CLEAR=y
CONFIG_TIMEOUT=y
